.fran {
  position: absolute;
  margin: 0 auto;
  width: 600px;
}

html, body {
  position: relative;
  height: 100%;
}
body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color:#000;
  margin: 0;
  padding: 0;
}

html, body {
  background: #333;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.svg-wrapper {
	margin: 0 auto;
  position: relative;
  width: 520px;
}

.small {
  height: 60px;
	margin: 0 auto;
  position: relative;
  
  
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke: #19f6e8;
}

.text {
  color: #fff;
  font-family: 'Roboto Condensed';
  font-size: 22px;
  letter-spacing: 8px;
  line-height: 32px;
  position: relative;
  top: -48px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.svg-wrapper .path-reverse {
  fill : none;
  stroke-dasharray : 500;
  stroke-dashoffset : 500;
  -webkit-animation : dash-reverse 2s linear forwards;
     -moz-animation : dash-reverse 2s linear forwards;
       -o-animation : dash-reverse 2s linear forwards;
          animation : dash-reverse 2s linear forwards;
}

@-webkit-keyframes dash-reverse {
  from {
    stroke-dashoffset : -500;
  }
  to {
    stroke-dashoffset : 0;
  }
}

@-moz-keyframes dash-reverse {
  from {
    stroke-dashoffset : -500;
  }
  to {
    stroke-dashoffset : 0;
  }
}

@-o-keyframes dash-reverse {
  from {
    stroke-dashoffset : -500;
  }
  to {
    stroke-dashoffset : 0;
  }
}

@keyframes dash-reverse {
  from {
    stroke-dashoffset : -500;
  }
  to {
    stroke-dashoffset : 0;
  }
}

@-webkit-keyframes updown_logo {
  0% {
    -webkit-transform : translateY(0px);
            transform : translateY(0px);
  }
  50% {
    -webkit-transform : translateY(16px);
            transform : translateY(16px);
  }
  100% {
    -webkit-transform : translateY(0px);
            transform : translateY(0px);
  }
}

@-moz-keyframes updown_logo {
  0% {
    -moz-transform : translateY(0px);
         transform : translateY(0px);
  }
  50% {
    -moz-transform : translateY(16px);
         transform : translateY(16px);
  }
  100% {
    -moz-transform : translateY(0px);
         transform : translateY(0px);
  }
}

@-o-keyframes updown_logo {
  0% {
    -o-transform : translateY(0px);
       transform : translateY(0px);
  }
  50% {
    -o-transform : translateY(16px);
       transform : translateY(16px);
  }
  100% {
    -o-transform : translateY(0px);
       transform : translateY(0px);
  }
}

@keyframes updown_logo {
  0% {
    -webkit-transform : translateY(0px);
       -moz-transform : translateY(0px);
         -o-transform : translateY(0px);
            transform : translateY(0px);
  }
  50% {
    -webkit-transform : translateY(16px);
       -moz-transform : translateY(16px);
         -o-transform : translateY(16px);
            transform : translateY(16px);
  }
  100% {
    -webkit-transform : translateY(0px);
       -moz-transform : translateY(0px);
         -o-transform : translateY(0px);
            transform : translateY(0px);
  }
}

@-webkit-keyframes updown1 {
  0% {
    -webkit-transform : translateY(0px);
            transform : translateY(0px);
  }
  50% {
    -webkit-transform : translateY(8px);
            transform : translateY(8px);
  }
  100% {
    -webkit-transform : translateY(0px);
            transform : translateY(0px);
  }
}

@-moz-keyframes updown1 {
  0% {
    -moz-transform : translateY(0px);
         transform : translateY(0px);
  }
  50% {
    -moz-transform : translateY(8px);
         transform : translateY(8px);
  }
  100% {
    -moz-transform : translateY(0px);
         transform : translateY(0px);
  }
}

@-o-keyframes updown1 {
  0% {
    -o-transform : translateY(0px);
       transform : translateY(0px);
  }
  50% {
    -o-transform : translateY(8px);
       transform : translateY(8px);
  }
  100% {
    -o-transform : translateY(0px);
       transform : translateY(0px);
  }
}

@keyframes updown1 {
  0% {
    -webkit-transform : translateY(0px);
       -moz-transform : translateY(0px);
         -o-transform : translateY(0px);
            transform : translateY(0px);
  }
  50% {
    -webkit-transform : translateY(8px);
       -moz-transform : translateY(8px);
         -o-transform : translateY(8px);
            transform : translateY(8px);
  }
  100% {
    -webkit-transform : translateY(0px);
       -moz-transform : translateY(0px);
         -o-transform : translateY(0px);
            transform : translateY(0px);
  }
}

.fadeInUpShortest {
  -webkit-animation-name : fadeInUpShortest;
     -moz-animation-name : fadeInUpShortest;
       -o-animation-name : fadeInUpShortest;
          animation-name : fadeInUpShortest;
}

.svg-wrapper .cic-logo-animation {
  -webkit-animation : updown_logo 4s ease infinite;
     -moz-animation : updown_logo 4s ease infinite;
       -o-animation : updown_logo 4s ease infinite;
          animation : updown_logo 4s ease infinite;
}